@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div id="logreg-forms">
    <h1 class="h3 font-weight-normal text-info text-center pt-4">Sign In</h1>
    @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {

        }
        else
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            if (provider.Name.ToLower().Contains("facebook"))
                            {
                                <button type="submit" class="btn btn-block text-white" style="background-color: #3b5998;" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    <i class="fab fa-facebook-square"></i> 
                                    @provider.DisplayName
                                </button>

                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        }
                    </p>
                </div>
            </form>
        }
    }
    <form id="account" method="post">
        @if (Model.ExternalLogins?.Count > 0)
        {
            <p style="text-align:center;">OR</p>
        }

        @Html.TextBoxFor(x => x.Input.Email, new { @class = "form-control mb-2", @placeholder = @Html.DisplayNameFor(x => x.Input.Email) })
        @Html.TextBoxFor(x => x.Input.Password, new { @class = "form-control mb-2", @placeholder = @Html.DisplayNameFor(x => x.Input.Password), @type = "password" })

        <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Log in</button>
        <a id="forgot-password" asp-page="./ForgotPassword" class="pb-2 text-info">Forgot your password?</a>
        <div asp-validation-summary="All" class="text-danger"></div>

        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-info text-white">Register as a new user</a>

    </form>

</div>
            

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
