@page
@using Utility
@using Webshop.Mvc
@model RegisterModel

@if (User.IsInRole(WC.AdminRole))
{
    ViewData["Title"] = "Register an Admin Account";
}
else
{
    ViewData["Title"] = "Register";
}


<div class="py-4">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-8 offset-2">
            <div class="card"> 
                <div class="card-body px-lg-5 pt-4">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h3 class="col-12 text-primary text-center py-4">
                            <strong>@ViewData["Title"]</strong>
                        </h3>
                        <hr />
                        <div class="py-2">
                            @Html.TextBoxFor(x => x.Input.FullName, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(x => x.Input.FullName) })
                            <span asp-validation-for="Input.FullName" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            @Html.TextBoxFor(x => x.Input.Email, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(x => x.Input.Email) })
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            @Html.TextBoxFor(x => x.Input.PhoneNumber, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(x => x.Input.PhoneNumber) })
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="py-2 form-row row">
                            <div class="col-6">
                                @Html.TextBoxFor(x => x.Input.Password, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(x => x.Input.Password), @type = "password" })
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                @Html.TextBoxFor(x => x.Input.ConfirmPassword, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(x => x.Input.ConfirmPassword), @type = "password" })
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="py-2">
                            @if (User.IsInRole(WC.AdminRole))
                            {
                                <button type="submit" class="btn btn-danger form-control">Register Admin User</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary form-control">Register</button>
                            }
                        </div>

                    </form>
                    @if (!User.IsInRole(WC.AdminRole))
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <p>
                                By clicking <em>Register</em> you agree to our <a href="" target="_blank"> terms of service</a>
                            </p>
                            <hr />
                                <div class="row">
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            if (provider.Name.ToLower().Contains("facebook"))
                                            {
                                                <button type="submit" class="btn btn-block text-white" style="background-color: #3b5998;" name="provider" value="@provider.Name" title="Registration using your @provider.DisplayName account">
                                                    <i class="fab fa-facebook-square"></i>
                                                    @provider.DisplayName
                                                </button>

                                            }
                                            else
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Registration using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        }
                                    </p>
                                </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
