@model OrderListVM

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="get">
    <div class="container p-4 my-3">
        <h2 class="text-info">Orders Management</h2>
        <div class="border bg-white p-3" style="border-radius:15px;">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-4">
                            @Html.Editor("name", new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                        </div>
                        <div class="col-4">
                            @Html.Editor("email", new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                        </div>
                        <div class="col-4">
                            @Html.Editor("phone", new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone number" } })
                        </div>
                    </div>
                    <div class="row row pt-2">
                        <div class="col-4">
                            @Html.DropDownListFor(u => u.Status, Model.StatusList, "Order Status", new { @class = "form-select" })
                        </div>
                        <div class="offset-4 col-4">
                            <button type="submit" class="h-100 btn btn-info form-control">
                                <i class="fas fa-search"></i>
                                 Search
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

<div class="bg-white p-3">
    <ejs-grid id="Grid" dataSource="@Model.OrderHeaders" allowFiltering="true" allowSorting="true" allowPaging="true" allowExcelExport="true">
        <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
        <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
        <e-grid-columns>

                <e-grid-column field="FullName" headerText="Name" textAlign="Left"></e-grid-column>
                <e-grid-column field="Email" headerText="Email" textAlign="Left"></e-grid-column>
                <e-grid-column field="PhoneNumber" headerText="Phone number"  textAlign="Left"></e-grid-column>
                <e-grid-column field="OrderStatus" headerText="Order status" textAlign="Left"></e-grid-column>
                <e-grid-column field="OrderDate" headerText="Order date" autofit="true" customFormat="@(new { type="date", format="dd.MM.yyyy" })" textAlign="Left"></e-grid-column>
                <e-grid-column field="Id" isPrimaryKey="true" headerText="" autofit="true" textAlign="Right"
                               template="<a href='Order/Details/${Id}' style='max-width:40px' class='btn btn-primary btn-sm'>
                                <i class='fas fa-list'></i>
                              </a>">
                </e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>